main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.mdl-checkbox {
    width: 25%;
}

li button.mdl-button { /* Aligns delete button to the right */
    margin-left: auto;
}

